<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Select Games by Genre
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @for (genre of genreList; track genre.id) {
                        <li>
                            <a class="nav-link" [routerLink]="'products/genre/'+ genre.id">{{genre.name}}</a>
                        </li>
                        }
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Select Games by Platform
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @for (platform of platformList; track platform.id) {
                        <li>
                            <a class="nav-link" [routerLink]="'/products/platform/'+ platform.id">{{platform.name}}</a>
                        </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
     
        <div class="d-flex flex-grow-1">
            <form (ngSubmit)="onSubmit()" class="d-flex w-50 ms-auto">
                <input [(ngModel)]="query" name="search" class="form-control me-2 w-100" type="search" placeholder="Search Game" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>