<div class="container">
    <div class="card py-4">
        <div class="row">
            <div class="col-md-6">
                <img [src]="product.imageURL" class="card-img-top rounded" alt="Game Image">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 class="card-title mb-3">{{product.name}}</h1>
                    <div class="mb-3">
                        <p class="card-text price-custom">{{product.priceInEuro | currency:'EUR':true}}</p>
                    </div>
                    <br>
                    <div class="mb-3">
                        <h5 class="card-title mb-3">Product Description:</h5>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                    <br>
                    <div class="mb-3 product-details-custom">
                        <h5 class="card-title mb-3">Product Details:</h5>
                        <p class="card-text"><strong>PEGI age: </strong>{{product.minimumAge}}</p>
                        <p class="card-text"><strong>Developer: </strong>{{product.developer}}</p>
                        <p class="card-text"><strong>Publisher: </strong>{{product.publisher}}</p>
                        <p class="card-text"><strong>Release date: </strong> {{product.releaseDate | date:
                            'dd-MM-yyyy'}}
                        </p>
                        <p class="card-text"><strong>Platform: </strong>{{product.platformName}}</p>
                        <p class="card-text"><strong>Genre: </strong> {{product.genreName}}</p>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-primary btn-lg me-2 custom-btn" (click)="addProductToCart(product.id)"
                            [disabled]="product.stock === 0"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                <path
                                    d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg></button>
                        <p class="card-text stock-custom"><small>({{product.stock}} remaining in stock.)</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>