<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#"><img class="custom-img" src="https://i.imgur.com/NYd1LAg.png"
                alt="logo"><b>BIG
                Games</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav col-lg-11 justify-content-lg-center">
                <li class="nav-item nav-item-custom">
                    <a class="nav-link nav-link-custom text-white" routerLink="products" href="#"><b>Games</b></a>
                </li>
                <li class="nav-item nav-item-custom">
                    <a class="nav-link nav-link-custom text-white" routerLink="yourcart"><b>Shopping Cart</b></a>
                </li>
                <li class="nav-item nav-item-custom">
                    <a class="nav-link nav-link-custom text-white" routerLink="yourorders"><b>Order History</b></a>
                </li>
                                <li class="nav-item nav-item-custom">
                    <a class="nav-link nav-link-custom text-white" routerLink="admin/product"><b>Admin
                            Management</b></a>
                </li>
            </ul>
        </div>
    </div>
</nav>